<html>
<head>
    <title> PROFILE </title>
</head>
<body style="margin: 0; background-image: url('static/background4.jpg'); background-size: cover;">
    <div style="position: absolute; top: 0 ;left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.58);"></div>
        <nav style="position: relative; background-color: #1d1b1bb7 ;font-family: 'Times', sans-serif; font-size: 15px; font-weight: bold; display: flex; justify-content: center; align-items: center;">
            <a href="{{ url_for('home') }}" style="color: whitesmoke ;text-decoration: none; margin: 20px 30px;">HOME</a>
            <a href="{{ url_for('about') }}" style="color: rgba(103, 207, 255, 0.925);text-decoration: none; margin: 20px 30px;">PROFILE</a>
            <a href="{{ url_for('contact') }}" style="color: whitesmoke;text-decoration: none; margin: 20px 30px;">CONTACT</a>
        </nav>
    </div>
    <div style="display: flex; position: relative; justify-content: center; padding-top: 50px;">
        <div style="background-color: rgba(161, 161, 161, 0.292); margin: 50px 10px 0 10px; border:none; box-shadow: 0 4px 20px rgb(0, 0, 0); border-radius: 5px; overflow: hidden;">
            <img src="static/sabang.jpg" style="height: 200px; width: 200px; position: relative; object-fit: cover;">
            <p style="color: whitesmoke; margin: 20px 10px 13px 10px; font-weight: bold; font-family: arial; font-size: small;">SDPN SABANG</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">SDPN Sabang Bandung adalah sekolah</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">dasar dengan kualitas pendidikan</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">yang top, selalu fokus pada </p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">perkembangan siswa, baik akademik</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 20px 10px;">maupun non-akademik.</p>
        </div>
        <div style="background-color: rgba(161, 161, 161, 0.292); margin: 50px 10px 0 10px; border:none; box-shadow: 0 4px 20px rgb(0, 0, 0); border-radius: 5px; overflow: hidden;">
            <img src="static/smppgii1.jpeg" style="height: 200px; width: 200px; position: relative; object-fit: cover;">
            <p style="color: whitesmoke; margin: 20px 10px 13px 10px; font-weight: bold; font-family: arial; font-size: small;">SMP PGII 1 BANDUNG</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">SMP PGII 1 Bandung adalah sekolah</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">swasta dengan kualitas pendidikan</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">yang unggul, mengutamakan</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">pengembangan akademik dan</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 20px 10px;">karakter siswa.</p>
        </div>
        <div style="background-color: rgba(161, 161, 161, 0.292); margin: 50px 10px 0 10px; border:none; box-shadow: 0 4px 20px rgb(0, 0, 0); border-radius: 5px; overflow: hidden;">
            <img src="static/smapasundan2.jpg" style="height: 200px; width: 200px; position: relative; object-fit: cover;">
            <p style="color: whitesmoke; margin: 20px 10px 13px 10px; font-weight: bold; font-family: arial; font-size: small;">SMA PASUNDAN 2</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">SMA Pasundan 2 Bandung merupakan</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">sekolah swasta unggulan yang me-</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">nekankan pada pendidikan akademik,</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">pengembangan karakter, dan </p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 20px 10px;">pelestarian budaya Sunda. </p>
        </div>
        <div style="background-color: rgba(161, 161, 161, 0.292); margin: 50px 10px 0 10px; border:none; box-shadow: 0 4px 20px rgb(0, 0, 0); border-radius: 5px; overflow: hidden;">
            <img src="static/unpad.jpg" style="height: 200px; width: 200px; position: relative; object-fit: cover;">
            <p style="color: whitesmoke; margin: 20px 10px 13px 10px; font-weight: bold; font-family: arial; font-size: small;">UNIV PADJADJARAN</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">Universitas Padjadjaran (Unpad) adalah</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">perguruan tinggi negeri unggulan di</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">Jatinangor, Jawa Barat, yang dikenal</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 0px 10px;">dengan kualitas pendidikan tinggi dan</p>
            <p style="color: whitesmoke; font-family: arial; font-size: 10; margin: 0px 10px 20px 10px;">akreditasi internasional.</p>
        </div>
    </div>

</body>
</html>