<html>
<head>
    <title> CONTACT </title>
</head>
<body style="margin: 0; background-image: url('static/background2.jpg'); background-size: cover;">
    <div style="position: absolute; top: 0 ;left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.58);"></div>
        <nav style="position: relative; background-color: #1d1b1bb7 ;font-family: 'Times', sans-serif; font-size: 15px; font-weight: bold; display: flex; justify-content: center; align-items: center;">
            <a href="{{ url_for('home') }}" style="color: whitesmoke ;text-decoration: none; margin: 20px 30px;">HOME</a>
            <a href="{{ url_for('about') }}" style="color: whitesmoke;text-decoration: none; margin: 20px 30px;">PROFILE</a>
            <a href="{{ url_for('contact') }}" style="color: rgba(103, 207, 255, 0.925);text-decoration: none; margin: 20px 30px;">CONTACT</a>
        </nav>
    </div>
    <div style="position: relative; color: white; text-align: center; margin-top: 170px; font-family: Arial;">
        <h1> Contact Person </h1>
    </div>
    <div style="background-color: rgba(4, 83, 83, 0.71); margin: 0 300px;">
        <div style="position: relative; align-items: center; justify-content: center; display: flex; margin-top: 10px;">
            <img src="static/instagram.jpg" style="height: 30px; width: 30px; border-radius: 15px; ">
            <a style="color: white; font-family: Times; font-weight: bold; margin-left: 10px">anargyatha_</a>
        </div>
        <div style="position: relative; align-items: center; justify-content: center; display: flex; margin-top: 10px;">
            <img src="static/wa.jpg" style="height: 30px; width: 30px; border-radius: 15px;">
            <a style="color: white; font-family: Times; font-weight: bold; margin-left: 10px">089655792105</a>
        </div>
        <div style="position: relative; align-items: center; justify-content: center; display: flex; margin-top: 10px;">
            <img src="static/line.jpg" style="height: 30px; width: 30px; border-radius: 10px;" >
            <a style="color: white; font-family: Times; font-weight: bold; margin-left: 10px">089655792105</a>
        </div>
    </div>
</body>
</html>